* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #291c1c;
  color: white;
}
.header {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 12px;
}
.header p {
  margin: 8px;
}
p.date {
  font-size: 16px;
  font-weight: 800;
}
.about {
  padding: 17px;
  margin: 36px 0;
}
.about p {
  margin: 13px 0;
  line-height: 26px;
  font-size: 16px;
}
/* Photo Shoot Section Styling */
.photo-shoot {
  background-color: #1c1c1c; /* Dark background for contrast */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: white;
  margin-top: 20px;
}

.content-photo-shoot {
  max-width: 600px;
  margin: 0 auto;
}

.content-photo-shoot h1 {
  font-size: 2rem;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-photo-shoot h1 i {
  margin-right: 10px;
  color: #f4a261; /* Icon color for contrast */
}

.content-photo-shoot p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-photo-shoot p i {
  margin-right: 10px;
  color: #2a9d8f; /* Icon color for contrast */
}

/* Button Styles */
.apply, .call {
  background-color: #ACC8E5;
  color: #112A46;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.apply:hover, .call:hover {
  background-color: #a0bcd9; /* Change background color on hover */
}

.developer {
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
  border: 1px solid #2d2d2d;
  padding: 34px;
  width: 54rem;
  border-radius: 9px;
  box-shadow: 0 0 6px;
}

.developer img {
  height: 396px;
  border-radius: 13px;
  box-shadow: 5px 5px 17px;
}
.about-him {
  text-align: start;
  padding: 36px;
  width: 50pc;
  line-height: 28px;
}
.icons {
  display: flex;
  justify-content: center;
  gap: 25px;
  font-size: 27px;
  margin: 75px 0;
}
.youtube a {
  color: red;
}
.instagram a {
  color: #E4405F; /* Instagram brand color */
  font-size: 24px; /* Adjust the size as needed */
  text-decoration: none;
}
.instagram a:hover {
  color: #C13584; /* A slightly different shade on hover */
}
.facebook a {
  color: blue;
}
.twitter a {
  color: #bfbfff;
}
.linkedin a {
  color: #ffffff;
}
.github a {
  color: #808080;
}
.rap {
  display: flex;
  justify-content: center;
}
.about-him p {
  line-height: 29px;
}
@media (max-width: 720px) {
  .developer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #2d2d2d;
    padding: 34px;
    width: 90%;
    border-radius: 9px;
    box-shadow: 0 0 6px;
    flex-direction: column;
  }
  .about-him {
    text-align: start;
    padding: 36px;
    width: 123%;
    line-height: 28px;
}
}
